@charset "UTF-8";

body {
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
}

#form {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}

#form > label > .input {
    height: 2rem;
    width: 20rem;
    border-radius: 0.25rem;
    border: 0.1rem solid
}

#form > label > select {
    height: 2rem;
    width: 3rem;
    border: 0.1rem solid;
    border-radius: 0.25rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#form > .button {
    height: 2rem;
    width: 5rem;
    color: #ffffff;
    background-color: #3ca3ff;
    border: none;
    border-radius: 0.25rem;
}
